#quest-container{
    display: block;
    background-color: var(--main);
    border-radius: 15px;
    height: min-content;
    padding: 3%;
    margin: 3%;
    border: solid var(--dark) 5px
}

.quest-title{
    text-align: center;
}

.quest-difficulty{
    text-align: center;
}

.quest-question{
    background-color: var(--light);
    border: solid black 2px;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.quest-answers{
    width: 100%;
}

.answer-button{
    background-color: var(--light);
    border: solid var(--dark) 3px;
    font-weight: bold;
    border-radius: 10px;
    margin: 1em 25%;
    height: min-content;
    min-width: 200px;
    width: 50%;
    padding: 1em 0em;
}

.receive-quest-buttons{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.receive-quest-button{
    background-color: var(--light);
    border: solid var(--dark) 3px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0.5em 1.5em;
    height: 5em;
}