.identifier {
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.password {
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.verification {
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.confirm-btn {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.cancel-btn {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

