input[type="text"],
input[type="password"] {
    /* border: 0;
    border-bottom: 0.25em solid var(--dark);
    background: var(--main);
    border-radius: 0.2em 0.2em 0; */
}

.identifier {
    width: 90%;
    max-width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.password {
    width: 90%;
    max-width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.verification {
    width: 90%;
    max-width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

.confirm-btn {
    width: 55%;
    max-width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cancel-btn {
    width: 30%;
    max-width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;

}

.cancel-btn>*,
.confirm-btn>* {
    margin: auto;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-left: 35%;
}