#header {
    display: flex;

    background-color: var(--dark);

    width: 100%;
    padding: 0.5em 0;

    position: fixed;
    z-index: 10;
}

#header *,
#header {
    user-select: none;
}

/* SECTIONS */
.header-section {
    display: flex;
}

.header-section>* {
    display: inline-block;
}

#header-section-left {
    margin-left: 2em;
}

#header-section-left>*:nth-child(even) {
    margin-left: 1em;
}

/* LOGO */
#header_logo {
    width: fit-content;
    height: fit-content;
}

#header_logo>* {
    width: 100%;
    height: 100%;
}

#header_logo>img {
    width: 100px;
    height: 75px;
}

/* DROPDOWN */
.header_dropdown {
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
}

/* TITLE */
#header_title {
    width: 100%;
    height: fit-content;

    margin: 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;
    color: var(--light);

}

/* OPTIONS */
#header_options {
    align-self: center;
}

/* ICONS */
.header-icon {
    color: black;
    font-size: 2.5em;
    text-decoration: none;

    height: fit-content;
    width: fit-content;

    margin: auto;
    margin-right: 0.4em;
}

#header_cart,
#header_money {
    color: var(--light);
    position: relative;
}

/* ICON CART */
#header_cart>* {
    position: absolute;
    top: -0.5em;
    right: -0.25em;

    color: var(--dark);
    font-size: 0.3em;

    background-color: var(--main);
    padding: 0.25em;
    border-radius: 0.2em;
}

/* ICON MONEY */
#header_money {
    color: var(--second);
}

#header_money>* {
    position: absolute;
    bottom: -0.3em;

    color: var(--light);
    font-size: 0.5em;

    width: 100%;
}

#header_money span {
    text-align: center;
    width: 100%;
    display: block;
}

/* ICON PROFILE */
#header_profile {
    width: 1.25em;
    height: 1.25em;

    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-color: var(--light) !important;

    border: 0.1em solid var(--light);
    border-radius: 1em;

    cursor: pointer;
}

/* ICON INVENTORY */
#header_inventory {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
}

/* ICON DISCONNECT */
#header_disconnect {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
    position: absolute;
    bottom: 0.25em;
    right: -0.25em;
}

/* ICON PROFILE */
#header_profile_access {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
    position: absolute;
    bottom: 0.25em;
    right: 2em;
}

/* ICON PLAYER LIST */
#header_player_list{
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
}

/* ICON INSCRIPTION */
#header_inscription {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
}

/* ICON CONNECTION */
#header_connection {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--light);
}

/* MIN LAYOUT */
@media (max-width:700px) {

    #header_logo {
        display: none;
    }

    #header-section-left {
        margin-left: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

/* MAX LAYOUT */
@media (max-width:500px) {
    #header-section-middle>* {
        display: none;
    }
}