:root {
    --main: #B9B4C7;
    --second: #5C5470;
    --dark: #352F44;
    --light: #FAF0E6;

    /* DIFFICULTIES */
    --easy : #00FF00;
    --medium: #FFFF00;
    --hard: #FF0000;
    --unknown: #666666;

    /* QUANTITIES */
    --enough: #008A00;
    --missing: #8A0000;
}

*:has(#main) {
    background-color: var(--second);
}

#body,
#body-fade {
    padding-top: 75px;

    width: 100vw;
    height: 100vh;
}

#body-fade {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    background: linear-gradient(90deg, var(--dark) 0%, transparent 0.5%, transparent 99.5%, var(--dark) 100%);
    z-index: 10;
}