#parent {
    height: 100%;
    overflow-y: hidden;

    display: flex;
}

#parent>* {
    display: inline-block;
}

#items {
    height: 100%;
    padding: 0.5em 0;
    overflow-y: scroll;

    direction: rtl;

    min-width: 225px;
    width: fit-content;
}

/* ITEM */
.item {
    position: relative;
    left: -0.25em;

    width: 200px;
    height: 200px;

    margin: 0.5em;

    background-size: contain;
    border: 0.2em solid var(--dark);
    border-radius: 1em;

    animation-name: item-appear;
    animation-duration: 1s;

    transition: left linear 0.1s;

    cursor: pointer;
}

.item:hover {
    left: 0.25em;
}

@keyframes item-appear {
    from {opacity: 0; }
    to {opacity: 1;}
  }

.item-level {
    position: absolute;

    top: 0.25em;
    left: 0.25em;

    user-select: none;
}

.easy {
    color: black;
    background-color: var(--easy);
    border-radius: 1em;
    padding: 0.2em;
    border: solid black 2px;
}
.medium {
    color: black;
    background-color: var(--medium);
    border-radius: 1em;
    padding: 0.2em;
    border: solid black 2px;
}
.hard {
    color: black;
    background-color: var(--hard);
    border-radius: 1em;
    padding: 0.2em;
    border: solid black 2px;
}
.unknown {
    color: black;
    background-color: var(--unknown);
    border-radius: 1em;
    padding: 0.2em;
    border: solid black 2px;
}

.item-inventory-quantity {
    position: absolute;

    bottom: 0;
    right: 0.5em;

    color: var(--light);

    user-select: none;
}

/* LOADER */
.loader {
    display: block;
    margin: auto;
}