.review-parent {
    display: flex;
    flex-flow: row;

    min-height: 10em;
    height: fit-content;
    width: 100%;

    margin: 0.5em 0;

    padding: 1em;

    background: var(--main);
    border: 0.25em solid var(--dark);
    border-radius: 1em;
}

.review-player {
    text-decoration: none;
    color: var(--light);

    display: grid;
    justify-items: center;
}

.review-player:hover {
    color: var(--light);
}

.review-avatar {
    background-position: center;
    background-size: cover;

    width: 5em;
    height: 5em;
    margin: 10% 0 5% 0;

    border: 0.1em solid var(--dark);
    border-radius: 4em;
}

.review-author-name {
    display: inline;

    width: 80%;
    padding: 0.5em;

    background-color: var(--dark);
    border-radius: 1em;
    text-align: center;
}

/* CONTENT */
.review-content {
    display: flex;
    flex-flow: column;
    height: fit-content;
    margin-left: 0.5em;

    overflow-wrap: break-word;
}

/* STARS */
.review-stars {
    user-select: none;
}

.review-star {
    opacity: 0.25;
}

.review-star:is(.selected) {
    opacity: 1;
}

/* COMMENT */
.review-comment {
    overflow-wrap: anywhere;
}

/* NEW REVIEW */
#new-review-container {
    background-color: var(--second);

    border-radius: 1em;
    border: 0.1em solid var(--dark);

    padding: 0.5em 1em;

    display: flex;
}

.new-review-div {
    margin: 1em auto;
}

.new-review-button {
    background-color: var(--light);
    border: solid var(--dark) 3px;
    font-weight: bold;
    border-radius: 10px;
    padding: 1em;
}

#new-review-form {
    width: 100%;
    height: 100%;

    display: block;
}

#new-review-form>h4 {
    display: block;
    margin-top: 0.5em;
    width: 100%;
    text-align: center;
}

#new-review-form>label {
    display: block;
    margin-left: 1em;
    margin-top: 0.5em;
}

#new-review-stars {
    display: block;
    margin-left: 1em;
    width: 2.5em;

    border-radius: 0.5em;
}

#new-review-comment {
    display: block;
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

    border-radius: 0.5em;
}

#new-review-submit {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
}

.new-review-text {
    width: 100%;
    text-align: center;
    margin: 1em;
}

/* REVIEWS PERCENT */
.details-avg-reviews {
    width: 90%;

    margin: auto;
    padding: 1em;

    background: var(--main);

    border-radius: 1em;
    border: 0.1em solid var(--dark);

    color: var(--light);

    margin-top: 1em;
}
.reviews-percent{
    left: 0;
    background-color: orange;
    height: 1.5em;
    border: solid var(--dark) 2px;
    border-radius: 5em;
}

.reviews-stats-container{
    margin: 0.5em;
    padding: 0.5em;
}
.reviews-percent-container{
    display: flex;
    margin: 0, 0.5em;
    align-items: center;
}
.reviews-percent-label{
    display: flex;
    margin: 0, 0.5em;
    padding: 0.5em;
    align-items: center;
}
.reviews-percent-label>*{
    margin: 0.1em;
    padding: 0.1em;
}
.reviews-percent-full{
    width: 100%;
    background-color: var(--second);
    border: solid var(--dark) 2px;
    border-radius: 5em;
}

hr {
    color: var(--dark);
    height: 2px !important;
}

.delete-icon {
    color: var(--dark);
    font-size: 1.5em;
    height: fit-content;
    width: fit-content;
    margin-left: calc(100% - 10em);
    text-align: right;
    cursor: pointer;
}
